<!-- your html code here -->
<div class="py-5">
  <div class="container py-5 border-top border-bottom w-75">
    <div class="row">
      <div class="col-8">
        <div class="d-flex">
          <div class="text-dark me-3 text-nowrap">
            <h1>The First Heading</h1>
          </div>
          <div class="text-secondary text-nowrap">
            <h1>Will Catch Your Eye</h1>
          </div>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col-4">
        <img
          src="../website/assets/img/1.jpg"
          class="img-fluid rounded-circle w-auto"
          alt="Description of image"
        />
      </div>
    </div>
  </div>
</div>
