<!-- your html code here -->
<div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex">
        <div class="text-dark me-3 w-100 text-nowrap">
          <h1>The First Header</h1>
        </div>
        <div class="text-secondary w-100 text-nowrap">
          <h1>Will Catch Your Eye</h1>
        </div>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="col-6">
        <img src="../website/assets/img/1.jpg" class="img-fluid rounded-circle w-50" alt="Description of image">
    </div>
  </div>
</div>
