<div class="row align-items-center">
    
    <div class="col-md-3" style="margin-left: 70px;"> 
      <img src="/website/assets/img/2.jpg" class="rounded-circle img-fluid" alt="...">
    </div>

    <div class="col-md-9 text-start" style="margin-left: -70px;">
      <h2 class="display-4 fw-bold" style="white-space: nowrap;">
        The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span>
      </h2>
      <p class="lead text-secondary">
        Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </div>

</div>